.ubuSpace {
  margin-top: 125px !important;
}
.textleft h2 {
  text-align: left;
  text-align-last: right;
}
.textleft p {
  text-align: end;
}
.fs-4 {
  margin-left: 5px;
}
.ctajoin {
  background-color: #1b1b1b;
  height: 300px;
}
.talentbtn {
  border-radius: 8px;
}
/* Add this to your CSS */
.ReactModal__Overlay {
  /* opacity: 0; */
  transition: opacity 300ms;
  backdrop-filter: blur(4px); /* Adjust the blur amount as needed */
  z-index: 1000;
}

.ReactModal__Content {
  max-height: 100vh; /* Adjust the value as needed */
  overflow-y: auto;
  margin-bottom: 20px;
}
