.ubuSpace {
  margin-top: 125px !important;
}
.textleft h2 {
  text-align: left;
  text-align-last: right;
}
.textleft p {
  text-align: end;
}
.fs-4 {
  margin-left: 5px;
}
.ctajoin {
  background-color: #1b1b1b;
  height: 300px;
}
.talentbtn {
  border-radius: 8px;
}
